#bx-admin-prefix #tabControl_layout .adm-info-message {
	margin: 2px 0;
	padding: 3px 5px 3px 74px;
}

#bx-admin-prefix #tabControl_layout .adm-info-message .locators-info {
	padding-top: 15px;
	font-style: italic;
	font-size: smaller;
}

#bx-admin-prefix #tabControl_layout .adm-info-message .desc {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: smaller;
	font-style: italic;
}

#bx-admin-prefix #tabControl_layout .adm-info-message .adm-btn-save,
#bx-admin-prefix #tabControl_layout .adm-info-message .adm-btn {
	min-height: 29px;
}
#bx-admin-prefix #tabControl_layout .adm-info-message pre {
	margin: 2px 0;
}
#bx-admin-prefix #tabControl_layout .adm-info-message pre.expect {
	color: #0A0;
}
#bx-admin-prefix #tabControl_layout .adm-info-message pre.value {
	color: #A00;
}
#bx-admin-prefix .iv-copy-link {
	display: inline-block;
	height: 15px;
	width: 16px;
	cursor: pointer;
	border-style: hidden ;
	border-color: unset;
	background-image: url(/bitrix/images/fileman/panel/edit_page.gif);
	background-color: rgba(28,28,28,0);
	background-size: 100%;
}
.lessons-contents li {
	padding-bottom: 3px;
}
.lessons-contents a{
	text-decoration-style: dashed;
}
div.contents-link {
	padding-top: 10px;
}
h2 span.contents-link,
.contents-link a {
	font-size: 13px;
	font-weight: normal;
}
.contents-link a {
	text-decoration-style: dashed;
}
.help {
	border: 2px solid lightblue;
	border-radius: 5px;
	padding: 4px;
	margin-bottom: 10px;
}
.help ol li {
	line-height: 1.5em;
}
.help h3 {
	cursor: pointer;
	margin-top: 10px;
	margin-left: 24px;
	color: mediumblue;
}